---
layout: default
title: Research
---

<section id="research" class="research-areas research-footer">
    <br><br>
    <h2 class="research-section-title">RESEARCH FOCUS</h2>

    <div class="research-content">
        <p>At <b>{{ site.title }}</b>, our research is driven by the belief that language technology can transform the way we interact with the world. Our work spans various domains, including <b>Mental Health, Fake News, Claims, Propaganda, and Deception</b>, where we apply cutting-edge NLP techniques to address complex challenges. Our projects not only push the boundaries of theoretical understanding but also offer practical solutions to real-world problems.</p><br>

        <p>In each project, we strive to combine rigorous research methodologies with innovative approaches, ensuring that our contributions are both impactful and relevant. Our team is dedicated to advancing the field of NLP through interdisciplinary collaboration, and we take pride in sharing our findings with the broader community.</p>

<br><br>
        <div class="research-grid">
            {% for area in site.data.research_areas %}
            <div class="research-card" data-research="{{ area.title | slugify }}">
                <i class="{{ area.icon }}"></i>
                <h3>{{ area.title }}</h3>
            </div>
            {% endfor %}
        </div>
        
        <div class="description-container">
            {% for area in site.data.research_areas %}
            <div class="description-box" id="{{ area.title | slugify }}-desc">
                <p>{{ area.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>